button,
input[type="submit"], .button {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  &.button-white {
    background-color: white;
    color: $blue;
    box-shadow: none !important;

    &:hover {
      color: darken($blue, 15);
    }
  }

  &.button-empty {
    background-color: transparent;
    border: 4px solid white;
    border-radius: 2em;
    padding: .75em 1.25em;
    text-transform: uppercase;
    box-shadow: none;
    &:hover, &:active {
      background: white;
      color: $blue;
    }
    &:active {
      color: $dark-blue;
    }
  }

  &.button-rounded {
    border-radius: 2em;
    padding: .75em 1.25em;
  }
}
