@mixin flash($color) {
  background: transparentize(#000,.45);
  color: white;
  margin: 1em -1em;
  margin-bottom: 2em;
  padding: $base-line-height / 2;

  h2 {
    color: $color;
    background: transparentize(#000,.90);
    padding: ($base-line-height / 3) ($base-line-height / 2);
    margin: -$base-line-height / 3;
    margin-bottom: $base-line-height / 3;
    font-size: 1.5em;
  }

  ul {
    @extend %default-ul;
    margin-bottom: .5em;
  }

  p {
    padding-left: .5em;
  }

}
